<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="" src="../../../assets/images/logo.jpg" alt="" width="72" height="auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/modules">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/modules/calculate-date">Calcular fecha <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/modules/conversions">Conversiones <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/modules/form">Formulario <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0 custom-login">
            <span class="nombre-log">{{ datoUsuario?.name ? datoUsuario.name : datoUsuario.adminUserName }}</span> 
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="usuarioSalir()">Logout</button>
        </form>
    </div>
</nav>
<main role="main" class="costum-container">
    <router-outlet></router-outlet>
</main>