.custom-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    background-color: black;
    height: 100vh;

}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}


.custom-blured {
    background-color: rgb(255, 255, 255) !important;
    backdrop-filter: blur(10px) !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.example-full-width {
    width: 100%;
}

.btn-primary {
    background-color: #004E75;
    border-color: #004E75;
}

@media (max-width: 900px) {
    .card {
        height: 100vh;
    }

    .card-body {
        align-content: center;
    }
}