<section class="container-fluid px-0">
    <div class="custom-container">
        <img src="../../../../assets/images/welcome-landing.webp" alt="CDMX_Photografy" class="custom-img">
        <div class="custom-centered">
            <h1>
                {{ 'Bienvenido a mi portal.' }}
            </h1>
            <h3>
                Rodrigo Santiago González
            </h3>
            <ng-container *ngIf="nombreIngresado !== ''">
                <h5>El nombre ingresado es:</h5>
                <h5>{{ nombreIngresado | cambioLetras }}</h5>
            </ng-container>
            <button class="boton-contacto" (click)="escribirNombre()">{{ nombreIngresado === '' ? 'Escribe tu nombre.' : 'Actualiza tu nombre.' }}</button>
        </div>
    </div>
</section>